body {
    margin: 0px;
    font-family:'Lucida Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.card {
    border: 1px solid gray;
    display: flex;
    width: 80%;
    margin: 10px 0px;
}

.card-image {
    width: 30%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
}

.card-content {
    width: 75%;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.card-footer {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.card-footer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

p {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 15px 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
    background-color: lightgray;
}

nav a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: lightblue;
    transition: all 1s;
}